.center_float {
  width: 70%;
  max-width: 800px;
  margin: 150px auto;
  margin-top: -100px;
  display: flex;
}

.menu_card {
  background: white;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 28%;
  height: 210px;
  margin: 0 2%;
  flex-grow: 1;
  padding: 30px;
  transition: all 2s;
  user-select: none;
  text-align: center;
  font-size: large;
}

.menu_card:hover {
  box-shadow: 0px 6px 50px -5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

img {
  width: 60%;
}

.text {
  margin: 10px;
  margin-top: 20px;
}
